.container_ppl {
  background-color: white;
  height: auto;
}

.container {
  background-color: rgba(98, 178, 110, 0.7);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 80vh;
  height: auto;
  padding: 30px 0px;
}

.content {
  width: 29%;
  height: 50%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.text {
  font-size: 60px;
  color: white;
  text-align: center;
}

.btn {
  background-color: white;
  width: 250px;
  height: 60px;
  color: #62b26e;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 30px;
  box-shadow: -5px 5px 5px 5px rgba(0, 0, 0, 0.27);
}

.container_img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_equipos {
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 80vh;
  height: auto;
  width: 100%;
  padding: 30px 10px;
}

.img_equipos {
  border-radius: 20px;
  object-fit: contain;
}

.content_equipos {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.text_equipos {
  font-size: 60px;
  color: #62b26e;
  text-align: center;
}

.btn_equipos {
  background-color: #62b26e;
  width: 250px;
  height: 60px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 30px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.27);
}

.footer {
  width: 100%;
  height: 80px;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer_p {
  color: white;
  font-size: 12px;
}

.footer_text {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
}

.dot {
  height: 12px;
  width: 12px;
  margin: 0 6px;
  background-color: white;
  border: 2px #62b26e solid;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dot.active {
  background-color: #62b26e;
}

.dot2 {
  height: 12px;
  width: 12px;
  margin: 0 6px;
  background-color: #62b26e;
  border: 2px white solid;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s;
}

.active2 {
  background-color: white;
}

@media (min-width: 320px) and (max-width: 768px) {
  .container,
  .container_equipos {
    flex-direction: column;
    height: auto;
    padding: 20px 0;
  }

  .content,
  .content_equipos {
    width: 90%;
    height: auto;
  }

  .img_equipos {
    width: 90%;
    height: auto;
    max-width: 380px;
    margin-top: 20px;
  }

  .text,
  .text_equipos {
    font-size: 32px;
    padding-bottom: 10px;
  }

  .img_oblea {
    width: 95%;
    height: auto;
    padding-top: 10px;
  }

  .btn,
  .btn_equipos {
    width: 50%;
    font-size: 20px;
    height: 50px;
  }

  .footer {
    flex-direction: column;
    height: auto;
    padding: 15px 0;
  }

  .footer_text {
    width: 90%;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
  }

  .footer_p {
    font-size: 10px;
    margin: 5px 0;
  }
}

@media (min-width: 769px) and (max-width: 1084px) {
  .container {
    height: 60vh;
    padding: 0 20px;
  }

  .content,
  .content_equipos {
    width: 40%;
  }

  .img_equipos {
    max-width: 420px;
    height: auto;
  }

  .text,
  .text_equipos {
    font-size: 45px;
  }

  .btn,
  .btn_equipos {
    width: 220px;
    font-size: 24px;
    height: 55px;
  }

  .footer {
    height: 70px;
    padding: 0 20px;
  }

  .footer_text {
    width: 70%;
    flex-direction: row;
  }

  .footer_p {
    font-size: 11px;
  }
}
