.contactContainer {
  height: 130px;
  background-color: #06650b;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactTitle {
  font-size: 50px;
  color: white;
  font-weight: 100;
}

.contactSubtitle {
  font-size: 25px;
  color: #06650b;
  font-weight: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 50px;
  background-color: white;
}

.contactFormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
  background-color: white;
}

.contactForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  padding-bottom: 20px;
}

.formLabel {
  font-size: 20px;
  color: #231f20;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formInput {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: white;
}

.checkboxGroup {
  font-size: 20px;
  color: #231f20;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.containerCheckbox {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding-bottom: 20px;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  gap: 6px;
}

input[type='radio'].checkbox {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid black;
  border-radius: 3px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease;
}

input[type='radio'].checkbox:checked {
  background-color: black;
  box-shadow: inset 0 0 0 3px #fff;
}

.formTextarea {
  width: 100%;
  height: 150px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
}

.formButtonContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 60%;
}

.formButton {
  background-color: #06650b;
  color: white;
  padding: 15px 40px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
}

.successMessage {
  font-size: 18px;
  padding-bottom: 10px;
}

.formButton:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

@media screen and (max-width: 768px) {
  .contactContainer {
    height: auto;
    padding: 30px 20px;
    text-align: center;
  }

  .contactTitle {
    font-size: 35px;
  }

  .contactSubtitle {
    font-size: 18px;
    flex-direction: column;
    padding: 30px 20px;
    text-align: center;
  }

  .contactFormContainer {
    padding: 10px;
  }

  .contactForm {
    width: 90%;
  }

  .formLabel {
    font-size: 16px;
  }

  .formInput,
  .formTextarea {
    font-size: 16px;
  }

  .formButtonContainer {
    width: 90%;
    justify-content: center;
  }

  .formButton {
    width: 60%;
    font-size: 16px;
    padding: 12px 20px;
  }

  .checkboxGroup {
    font-size: 16px;
  }
}

@media (min-width: 769px) and (max-width: 973px) {
  .contactSubtitle {
    font-size: 20px;
    padding: 30px 20px;
    text-align: center;
  }
}
