.contentDescription {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  gap: 30px;
  background-color: white;
}

.h2 {
  color: #62b26e;
  font-size: 50px;
  font-weight: 100;
  text-align: center;
}

.description {
  width: 75%;
  height: auto;
  background-color: #62b26eb3;
  border: 3px solid #62b26e;
  border-radius: 10px;
  padding: 20px;
}

.pTitle {
  color: white;
  font-size: 30px;
}

.pDescription {
  color: white;
  font-size: 16px;
}

.truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.linkLike {
  color: #4d81ef;
  cursor: pointer;
  text-decoration: underline;
  font-size: 0.9rem;
}

@media screen and (max-width: 768px) {
  .contentDescription {
    padding: 20px 10px;
    gap: 20px;
  }

  .h2 {
    font-size: 36px;
    padding: 0 10px;
  }

  .description {
    width: 100%;
    padding: 15px;
  }

  .pTitle {
    font-size: 22px;
  }

  .pDescription {
    font-size: 14px;
  }

  .linkLike {
    font-size: 0.85rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .contentDescription {
    height: 100vh;
  }
}