.contentDescription {
  min-height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  background-color: white;
  padding: 50px 20px;
  box-sizing: border-box;
}

.h2 {
  color: #62b26e;
  font-size: 50px;
  font-weight: 600;
  text-align: center;
}

.description {
  width: 75%;
  max-width: 800px;
  height: auto;
  background-color: #62b26eb3;
  border: 3px solid #62b26e;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pTitle {
  color: white;
  font-size: 30px;
  font-weight: 800;
}

.pDescription {
  color: white;
  font-size: 18px;
}

.truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.linkLike {
  color: #4d81ef;
  cursor: pointer;
  text-decoration: underline;
  font-size: 0.9rem;
}

@media screen and (max-width: 940px) {
  .contentDescription {
    padding: 50px 15px;
    gap: 20px;
    min-height: calc(100vh - 80px);
  }

  .h2 {
    font-size: 36px;
    padding: 0 10px;
  }

  .description {
    width: 85%;
    padding: 15px;
  }

  .pTitle {
    font-size: 22px;
  }

  .pDescription {
    font-size: 15px;
  }

  .linkLike {
    font-size: 0.85rem;
  }
}

@media (max-width: 480px) {
  .contentDescription {
    padding: 50px 10px;
    gap: 15px;
    min-height: calc(100vh - 70px);
  }

  .h2 {
    font-size: 35px;
  }

  .description {
    width: 90%;
    padding: 14px;
  }

  .pTitle {
    font-size: 22px;
  }

  .pDescription {
    font-size: 15px;
  }
}

@media (min-width: 320px) and (max-width: 376px) {
  .description {
    width: 95%;
    padding: 12px;
  }
}
