.footer {
  width: 100%;
  height: 80px;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer_p {
  color: white;
  font-size: 14px;
  text-align: center;
}

.content_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}

.footer_text {
  width: 40%;
  display: flex;
  justify-content: flex-start;
}

.contact_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title_contacto {
  color: white;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 5px;
}

.email_contacto {
  color: white;
  font-size: 14px;
  text-decoration: none;
}

@media (min-width: 320px) and (max-width: 768px) {
  .footer {
    flex-direction: column;
    height: auto;
    gap: 30px;
    padding: 1rem 0;
  }

  .footer_text {
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .content_footer {
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }

  .contact_info {
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .footer {
    justify-content: space-around;
    padding: 2rem;
    gap: 1rem;
    height: auto;
  }

  .footer_text {
    width: 80%;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .content_footer {
    width: 55%;
  }
}

@media (min-width: 1025px) and (max-width: 1400px) {
  .footer {
    padding: 1.5rem 0;
  }

  .footer_text {
    width: 60%;
    justify-content: flex-start;
  }
}
