.container_ppl_descripcion {
  height: 140vh;
  width: 100%;
  background-color: #f5f5f5;
}

.container_img_descripcion {
  height: 100vh;
}

.img_descripcion {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.container_descripcion {
  height: 400px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  padding: 50px 50px;
  background-color: white;
  position: relative;
  top: -200px;
  left: 100px;
  transition: transform 0.12s linear;
  will-change: transform;
}

.h2 {
  font-size: 45px;
  color: #62b26e;
}

.text_descripcion {
  font-size: 20px;
  color: black;
}
