.container_ppl_descripcion {
  height: 150vh;
  width: 100%;
  background-color: #f5f5f5;
}

.container_img_descripcion {
  height: 100vh;
}

.img_descripcion {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.container_descripcion {
  height: auto;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  padding: 50px 50px;
  background-color: white;
  position: relative;
  top: -200px;
  left: 100px;
  transition: transform 0.12s linear;
  will-change: transform;
}

.h2 {
  font-size: 45px;
  color: #62b26e;
}

.text_descripcion {
  font-size: 20px;
  color: #858585;
  line-height: 25px;
}

@media (max-width: 768px) {
  .container_ppl_descripcion {
    height: auto;
  }

  .container_descripcion {
    transition: none;
    will-change: auto;
    position: static;
    width: 100%;
  }

  .container_img_descripcion {
    height: auto;
  }

  .img_descripcion {
    height: 40%;
    width: 100%;
    object-fit: contain;
  }

  .h2 {
    font-size: 30px;
  }

  .text_descripcion {
    font-size: 16px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .container_descripcion {
    width: 60%;
    top: -150px;
    left: 50px;
  }
}
