.header {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.headerContent {
  background-color: #62b26eb3;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 160px;
  position: relative;
}

.nav {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #231f20;
  border-radius: 50px;
  padding: 13px 15px;
}

.menuToggle {
  display: none;
}

.menuIcon {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 22px;
  cursor: pointer;
}

.menuIcon span {
  height: 3px;
  background: white;
  border-radius: 2px;
}

.active {
  color: white;
}

.menuBackground {
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.4s ease,
    visibility 0.4s ease;
}

@media screen and (max-width: 767px) {
  .menuBackground {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 29vh;
    min-height: 230px;
    background-color: white;
    z-index: 998;
    opacity: 0;
    visibility: hidden;
    transition:
      opacity 0.4s ease,
      visibility 0.4s ease;
  }

  .menuToggle:checked ~ .menuBackground {
    opacity: 1;
    visibility: visible;
  }

  .menuIcon {
    display: flex;
  }

  .headerContent {
    padding: 0 60px;
  }

  .nav {
    height: 29vh;
    min-height: 230px;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background-color: #62b26eb3;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    align-items: center;
    border-radius: 0;
    gap: 20px;
    z-index: 999;
    font-size: 25px;
    color: #858585;
    clip-path: inset(0 0 100% 0);
    opacity: 0;
    transition:
      clip-path 0.4s ease,
      opacity 0.4s ease,
      background 0.4s ease,
      backdrop-filter 0.4s ease;
  }

  .menuToggle:checked ~ .nav {
    clip-path: inset(0 0 0 0);
    opacity: 1;
    padding: 15px;
    background: linear-gradient(to bottom, #62b26eb3, #f0f0f0);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 999;
  }

  .active {
    color: #000000;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .headerContent {
    padding: 0 50px;
  }
}
