.btnWhatsapp {
  z-index: 9999;
  border-radius: 50%;
  transition: transform 0.2s;
}

.btnWhatsapp:hover {
  transform: scale(1.1);
}

.imgWhatsapp {
  width: 100px;
  height: 100px;
}

@media screen and (max-width: 768px) {
  .imgWhatsapp {
    width: 90px;
    height: 90px;
  }
}
