.locationContainer {
  font-size: 25px;
  font-weight: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: white;
  height: auto;
}

.locationTitle {
  font-size: 45px;
  font-weight: 300;
  color: #62b26e;
  padding-bottom: 20px;
}

.locationContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
  padding: 20px 0;
  background-color: white;
}

.locationCard {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  border: 1px solid #62b26e;
  border-radius: 12px;
  background-color: #ffffff;
  overflow: hidden;
  height: 240px;
  box-shadow:
    0px 3px 6px rgba(0, 0, 0, 0.1),
    8px 15px 8px rgba(0, 0, 0, 0.25);
}

.locationCard > div:first-child {
  flex: 1;
  padding: 25px 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
}

.locationTitleCard {
  font-size: 28px;
  color: #2c2c2c;
  margin-bottom: 15px;
  font-weight: 400;
}

.locationItem {
  margin-bottom: 12px;
}

.reverse {
  flex-direction: row-reverse;
}

.alignEnd {
  align-items: flex-end;
}

.alignEnd h3,
.alignEnd .locationItem {
  text-align: right;
}

.green {
  color: #62b26e;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 4px;
  font-weight: 400;
}

.value {
  color: #3a3a3a;
  font-size: 18px;
  font-weight: 300;
}

.mapContainer {
  flex-basis: 55%;
  height: 100%;
  overflow: hidden;
  border-radius: 0 12px 12px 0;
}

.map {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
}

@media screen and (max-width: 1023px) {
  .locationContainer {
    gap: 10px;
    padding-bottom: 30px;
  }

  .locationContent {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    padding: 20px 15px;
  }

  .locationCard {
    width: 307px;
    flex-direction: column;
    height: auto;
  }

  .mapContainer {
    flex-basis: 100%;
    height: 300px;
    border-radius: 0 0 12px 12px;
  }

  .locationImage {
    width: 25%;
  }

  .alignEnd {
    align-items: flex-start;
  }

  .alignEnd h3,
  .alignEnd .locationItem {
    text-align: left;
  }
}

@media (min-width: 320px) and (max-width: 600px) {
  .locationContainer {
    flex-direction: column;
    gap: 10px;
    padding-bottom: 30px;
  }

  .locationImage {
    width: 220px;
    order: 0;
  }

  .locationTitle {
    order: 1;
    font-size: 32px;
    padding: 0;
  }

  .locationContainer img:last-of-type {
    order: 2;
  }
}
