.container_ppl_mision {
  height: 150vh;
  width: 100%;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.container_img_mision {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.img_wrapper {
  width: 100%;
  height: calc(100% + 180px);
  position: relative;
  left: 0;
  top: -90px;
  will-change: transform;
}

.img_mision {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.container_descripcion_mision {
  max-height: 550px;
  height: auto;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 150px;
  padding: 50px 50px;
  background-color: white;
  position: relative;
  top: -80px;
  transition: transform 0.12s linear;
  will-change: transform;
}

.h2 {
  font-size: 15px;
  color: #858585;
  white-space: nowrap;
}

.text_descripcion_mision {
  font-size: 30px;
  color: #62b26e;
  line-height: 45px;
}

@media (max-width: 768px) {
  .container_ppl_mision {
    height: 190vh;
  }

  .container_descripcion_mision {
    max-height: 800px;
    flex-direction: column;
    gap: 30px;
    margin-top: -10px;
    top: -40px;
  }

  .text_descripcion_mision {
    font-size: 22px;
    line-height: 35px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .container_descripcion_mision {
    max-height: 650px;
    top: -50px;
  }

  .text_descripcion_mision {
    font-size: 25px;
  }
}
