.numbers_section {
  width: 100%;
  min-height: clamp(450px, 61vh, 900px);
  background-image: linear-gradient(280deg, #0af92b 0%, #0d2f06 100% 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 20px 0;
}

.title {
  font-size: 43px;
  font-weight: 600;
  line-height: 1.3em;
  letter-spacing: 0px;
  color: #ffffff;
}

.numbers_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 30px;
}

.number_item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 230px;
  height: 240px;
  gap: 0;
  opacity: 0;
  transform: translateY(80px);
  transition: transform 0.8s cubic-bezier(0.22, 1, 0.36, 1);
}

.numberVisible {
  opacity: 1;
  transform: translateY(0);
}

.number {
  color: #ffffff;
  font-size: 75px;
  font-weight: 200;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.description {
  color: #ffffff;
  font-size: 17px;
  font-weight: 400;
  line-height: 2.5;
}

@media (max-width: 1024px) {
  .numbers_section {
    min-height: clamp(305px, 32vh, 500px);
    padding: 0 20px;
  }

  .title {
    font-size: 33px;
  }

  .number_item {
    height: 95px;
  }

  .number {
    font-size: 50px;
    line-height: 1.3em;
  }

  .description {
    font-size: 12px;
    line-height: 1.3em;
  }
}

@media (max-width: 769px) {
  .numbers_section {
    min-height: 120vh;
    padding: 0 20px;
  }

  .title {
    font-size: 30px;
  }

  .numbers_container {
    flex-direction: column;
  }

  .number_item {
    height: 125px;
    width: 100%;
    max-width: none;
    padding: 0 20px;
  }

  .number {
    font-size: 55px;
    line-height: 1.6em;
  }

  .description {
    font-size: 14px;
    line-height: 1.3em;
  }
}
