.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageRow {
  display: flex;
  gap: 12px;
  justify-content: center;
}

.carouselImage {
  border-radius: 12px;
  object-fit: cover;
  width: 97%;
}

.dots {
  margin-top: 12px;
  display: flex;
  gap: 8px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: none;
  background-color: #ccc;
  cursor: pointer;
}

.activeDot {
  background-color: #06650b;
}
