/* Estilo base para las imágenes */
.imageEstacion {
  object-fit: cover;
  width: 90%;
  height: 180px;
}

/* ------------------- */
/* Móvil: 320px a 768px */
/* ------------------- */
@media (max-width: 768px) {
  .carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }

  .imageContainer {
    width: 95%;
    max-width: 400px;
    height: 250px;
    position: relative;
  }

  .carouselImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* Puntos debajo */
  .dots {
    margin-top: 10px;
    display: flex;
    gap: 8px;
  }

  .dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ccc;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .activeDot {
    background-color: #62b26e;
  }

  .desktopImages {
    display: none;
  }

  .wrapImages {
    display: none;
  }
}

/* ------------------- */
/* Tablets: 769px a 1024px */
/* ------------------- */
@media (min-width: 769px) and (max-width: 1024px) {
  .wrapImages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    max-width: 800px;
    margin: 0 auto;
  }

  .imageEstacion {
    flex: 0 1 calc(50% - 12px);
    height: 180px;
    margin-bottom: 12px;
  }

  .carousel,
  .desktopImages {
    display: none;
  }
}

/* ------------------- */
/* Desktop: > 1024px */
/* ------------------- */
@media (min-width: 1025px) {
  .desktopImages {
    display: flex;
    gap: 12px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px 10px;
  }

  .imageEstacion {
    width: 365px;
    height: 180px;
    flex: none;
  }

  .carousel,
  .wrapImages {
    display: none;
  }
}
