.carouselImage {
  border-radius: 12px;
  object-fit: cover;
  cursor: pointer;
  pointer-events: auto;
  width: 100%;
  height: 100%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.dots {
  display: flex;
  gap: 8px;
  margin-top: 20px;
}

.dot {
  border: none;
  background-color: #ccc;
  cursor: pointer;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  transition: all 0.3s;
}

.activeDot {
  background-color: #62b26e;
  transform: scale(1.3);
}

.fullscreenOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.92);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
  touch-action: none;
}

.fullscreenImageWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fullscreenImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: flex;
  align-items: center;
  justify-content: center;
}

.closeBtn {
  position: absolute;
  top: 18px;
  right: 18px;
  background: rgba(255, 255, 255, 0.85);
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
  z-index: 100000;
}

.arrowLeft,
.arrowRight {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.7);
  border: none;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
  user-select: none;
  z-index: 100000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrowLeft {
  left: 15px;
}

.arrowRight {
  right: 15px;
}

.arrowLeft:hover,
.arrowRight:hover,
.closeBtn:hover {
  background: rgba(255, 255, 255, 1);
  transition: 0.2s;
}

.zoomIn {
  animation: zoomInAnim 0.25s forwards ease-out;
}

.zoomOut {
  animation: zoomOutAnim 0.25s forwards ease-in;
}

.fsSlideLeft {
  animation: fsSlideLeft 0.35s ease;
}

.fsSlideRight {
  animation: fsSlideRight 0.35s ease;
}

@keyframes zoomInAnim {
  from {
    opacity: 0;
    transform: scale(0.6);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes zoomOutAnim {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(0.6);
  }
}

@keyframes fsSlideLeft {
  from {
    transform: translateX(60px);
    opacity: 0.5;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fsSlideRight {
  from {
    transform: translateX(-60px);
    opacity: 0.5;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.mzaContainer {
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.mzaViewport {
  width: 100%;
  max-width: 1024px;
  height: 250px;
  position: relative;
  touch-action: none;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mzaTrack {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mzaSlide {
  position: absolute;
  width: 300px;
  height: 180px;
  will-change: transform, opacity;
  user-select: none;
}

.closeBtn,
.arrowLeft,
.arrowRight {
  pointer-events: auto;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.spinnerOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(240, 240, 240, 0.5);
  z-index: 1;
  pointer-events: none;
  inset: 0;
}

.spinner {
  width: 30px;
  height: 30px;
  border: 3px solid #ccc;
  border-top: 3px solid #62b26e;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.fullscreenViewport {
  position: absolute;
  inset: 0;
  width: 100vw;
  height: 100vh;
}

.fullscreenSlide {
  position: absolute;
  left: -0.5%;
  width: 100vw;
  height: 100vh;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1024px) {
  .closeBtn {
    top: 24px;
    right: 34px;
  }

  .arrowLeft {
    left: 60px;
  }

  .arrowRight {
    right: 60px;
  }
}

@media (max-width: 1024px) {
  .mzaContainer {
    width: 90%;
  }

  .mzaViewport {
    width: 80%;
  }

  .mzaSlide {
    width: 260px;
  }

  .fullscreenSlide {
    position: absolute;
    left: 0;
    width: 100vw;
    height: 100vh;
  }
}

@media (max-width: 768px) {
  .mzaViewport {
    width: 100%;
  }

  .mzaSlide {
    width: 287px;
  }

  .fullscreenSlide {
    position: absolute;
    left: 0;
    width: 100vw;
    height: 100vh;
  }
}
