.benefits {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(280deg, #0af92b 0%, #0d2f06 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 43px;
  font-weight: 600;
  line-height: 1.3em;
  letter-spacing: 0px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 26px;
}

.subtitle {
  text-align: center;
  font-size: 33px;
  font-weight: 400;
  letter-spacing: 0.2px;
  color: #c2bde6;
}

.items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 73%;
  margin-top: 70px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 340px;
  height: 260px;
  gap: 15px;
  opacity: 0;
  animation: fadeUp 0.8s ease forwards;
}

.item:nth-child(1) {
  animation-delay: 0.2s;
}

.item:nth-child(2) {
  animation-delay: 0.3s;
}

.item:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.itemTitle {
  font-size: 25px;
  font-weight: 300;
  letter-spacing: 0px;
  color: #ffffff;
}

.itemContent {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 1.6em;
  color: #ffffff;
}
