.benefits {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(280deg, #0af92b 0%, #0d2f06 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 43px;
  font-weight: 600;
  line-height: 1.3em;
  letter-spacing: 0px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 26px;
}

.subtitle {
  text-align: center;
  font-size: 33px;
  font-weight: 400;
  letter-spacing: 0.2px;
  color: #c2bde6;
}

.items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 70px;
  gap: 30px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 340px;
  height: 260px;
  gap: 15px;
  opacity: 0;
  animation: fadeUp 0.8s ease forwards;
  padding: 10px 0;
}

.item:nth-child(1) {
  animation-delay: 0.2s;
}

.item:nth-child(2) {
  animation-delay: 0.3s;
}

.item:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.image {
  object-fit: contain;
}

.itemTitle {
  font-size: 25px;
  font-weight: 300;
  letter-spacing: 0px;
  color: #ffffff;
}

.itemContent {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 1.6em;
  color: #ffffff;
}

@media (max-width: 1024px) {
  .title {
    font-size: 33px;
  }

  .subtitle {
    font-size: 13px;
  }

  .items {
    width: 90%;
  }

  .item {
    width: 320px;
    height: 260px;
    gap: 10px;
    padding: 10px 0;
  }

  .image {
    width: 64px;
    height: 64px;
  }

  .itemTitle {
    font-size: 20px;
  }

  .itemContent {
    font-size: 13px;
  }
}

@media (max-width: 769px) {
  .benefits {
    height: 180vh;
    padding: 0 10px;
  }

  .title {
    font-size: 33px;
  }

  .subtitle {
    font-size: 13px;
  }

  .items {
    flex-direction: column;
    width: 95%;
  }

  .item {
    width: 100%;
    height: 100%;
    gap: 10px;
    opacity: 0;
    animation: fadeUp 0.8s ease forwards;
    padding: 10px 0;
    opacity: 0;
    animation: none;
    transition:
      opacity 0.8s ease,
      transform 0.8s ease;
  }

  .itemVisible {
    opacity: 1;
    transform: translateY(0);
  }

  .image {
    width: clamp(64px, 20vw, 165px);
    height: clamp(64px, 20vw, 165px);
  }

  .itemTitle {
    font-size: 20px;
  }

  .itemContent {
    font-size: 13px;
  }
}
