.arguments_section {
  height: 140vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  padding: 50px 30px;
  background-color: transparent;
  background-image: linear-gradient(260deg, #0af92b 0%, #0d2f06 100%);
  overflow-x: hidden;
}

.arguments_image_map {
  object-fit: contain;
}

.arguments_image {
  object-fit: contain;
}

.arguments_text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 632px;
}

.arguments_title {
  font-size: 43px;
  font-weight: 600;
  line-height: 1.3em;
  letter-spacing: 0px;
  color: #ffffff;
}

.arguments_description {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.2px;
  color: #ffffff;
}

.arguments_item {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-top: 20px;
}

.hidden {
  opacity: 0;
  transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.from_left {
  transform: translateX(-100%);
}

.from_right {
  transform: translateX(100%);
}

.visible {
  opacity: 1;
  transform: translateX(0);
}

.delay_item {
  transition-delay: 0.4s;
}

.arguments_image_map {
  object-fit: contain;
}

@media (max-width: 1024px) {
  .arguments_section {
    height: auto;
    flex-direction: column;
    gap: 40px;
    padding: 60px 35px;
  }

  .arguments_image_map {
    height: auto;
    object-fit: contain;
  }

  .arguments_title {
    font-size: 30px;
  }

  .arguments_description {
    font-size: 13px;
  }
}
