.arguments_section {
  height: 140vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 50px 20px;
  background-color: transparent;
  background-image: linear-gradient(260deg, #0af92b 0%, #0d2f06 100%);
}

.arguments_image {
  object-fit: contain;
}

.arguments_text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 632px;
  margin-left: 50px;
}

.arguments_title {
  font-size: 43px;
  font-weight: 600;
  line-height: 1.3em;
  letter-spacing: 0px;
  color: #ffffff;
}

.arguments_description {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.2px;
  color: #ffffff;
}

.arguments_item {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-top: 20px;
}
