.heroImg {
  background-image: url('/Image/estacion-rosario1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 4rem 2rem;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}

.heroContent {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  width: 55%;
  padding: 0px 130px;
  gap: 30px;
}

.h1 {
  color: white;
  font-size: 60px;
  font-weight: 100;
  text-align: end;
  text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}

.btn {
  background-color: #62b26e;
  color: white;
  height: 50px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 17px;
}

.estaciones {
  height: 130px;
  background-color: #62b26e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.estacionesTitle {
  font-size: 45px;
  font-weight: 100;
  color: white;
}

.containerMaps {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  padding-bottom: 70px;
}

.maps {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: white;
  width: 80%;
  min-height: 430px;
  padding: 35px 0;
}

.mapContent {
  width: 600px;
  background-color: #efefef;
  height: 450px;
  padding: 20px;
}

.mapTitle {
  font-size: 45px;
  padding-bottom: 30px;
  color: #231f20;
  font-weight: 500;
}

.mapItems {
  line-height: 30px;
  color: #414141;
  font-weight: 100;
}

.green {
  color: #62b26e;
  font-weight: 500;
}

.contactInfo {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 2px dashed black;
}

.containerTransport {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
}

.transporteInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  padding: 50px 0px;
}

.transporteContainer {
  border: 2px solid #62b26e;
  border-radius: 15px;
  height: 450px;
  width: 670px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

.transport {
  border-radius: 15px;
}

.transporteText {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0px 40px;
  gap: 20px;
}

.transporteTitle {
  color: #231f20;
  font-size: 40px;
}

.transporteSub {
  font-size: 30px;
  text-align: center;
  color: #231f20;
}

.transporteItems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.item {
  font-size: 25px;
  color: #62b26e;
}

.trasporteBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnWhatsapp {
  position: fixed;
  bottom: 10px;
  right: 20px;
  z-index: 9999;
  border-radius: 50%;
  overflow: hidden;
  transition: transform 0.2s;
}

.btnWhatsapp:hover {
  transform: scale(1.1);
}

.space {
  height: 80px;
}

@media screen and (max-width: 768px) {
  .menuIcon {
    display: flex;
  }

  .nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background-color: #62b26eb3;
    padding: 20px 0;
    align-items: center;
    gap: 20px;
    z-index: 998;
  }

  .menuToggle:checked ~ .nav {
    display: flex;
  }

  .headerContent {
    padding: 0 30px;
  }

  .heroContent {
    width: 100%;
    height: 100vh;
    padding: 0 30px;
    align-items: center;
    text-align: center;
  }

  .h1 {
    font-size: 36px;
    text-align: center;
  }

  .btn {
    width: 100%;
    max-width: 300px;
    font-size: 15px;
  }

  .estaciones {
    padding: 0px 15px;
  }

  .estacionesTitle {
    font-size: 35px;
    text-align: center;
  }

  .maps {
    flex-direction: column;
    height: auto;
    padding: 40px 0;
    align-items: center;
    width: 90%;
  }

  .mapContent {
    width: 90%;
    text-align: center;
    max-height: 690px;
    height: 100%;
  }

  .mapTitle {
    font-size: 35px;
    padding-bottom: 20px;
  }

  .mapItems {
    font-size: 18px;
    line-height: 25px;
    padding: 10px 0px;
  }

  .ubication {
    width: 90%;
    height: 450px;
  }

  .imageEstacion {
    width: 90%;
  }

  .containerTransport {
    padding: 30px 10px;
  }

  .line {
    width: 90%;
  }

  .transport {
    width: 90%;
    height: auto;
  }

  .transporteContainer {
    width: 100%;
    height: auto;
    padding: 20px 10px;
  }

  .transporteTitle {
    font-size: 26px;
  }

  .transporteText {
    padding: 0px 30px;
  }

  .transporteTitle {
    text-align: center;
  }

  .transporteSub {
    font-size: 18px;
  }

  .item {
    font-size: 16px;
  }

  .trasporteBtn .btn {
    max-width: 250px;
    font-size: 14px;
  }

  .btnWhatsapp {
    bottom: 10px;
    right: 10px;
  }

  .imgWhatsapp {
    width: 90px;
    height: 90px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .headerContent {
    padding: 0 40px;
  }

  .heroContent {
    padding: 0 40px;
    width: 100%;
    align-items: center;
    text-align: center;
  }

  .h1 {
    font-size: 42px;
    text-align: center;
  }

  .btn {
    max-width: 300px;
  }

  .maps {
    flex-direction: column;
    height: auto;
    padding: 30px 0;
    align-items: center;
    width: 90%;
  }

  .mapContent {
    width: 80%;
    text-align: center;
  }

  .ubication {
    width: 80%;
    height: 450px;
  }

  .containerTransport {
    padding: 30px 20px;
  }

  .line {
    width: 90%;
  }

  .transporteContainer {
    width: 90%;
    height: auto;
    padding: 30px 20px;
  }

  .transporteTitle {
    font-size: 32px;
  }

  .transporteSub {
    font-size: 22px;
  }

  .item {
    font-size: 18px;
  }

  .trasporteBtn .btn {
    font-size: 16px;
    width: 250px;
  }
}

@media (min-width: 1025px) and (max-width: 1300px) {
  .imageEstacion {
    width: 90%;
  }
}
