.btnEmail {
  z-index: 9999;
  border-radius: 50%;
  transition: transform 0.2s;
}

.btnEmail:hover {
  transform: scale(1.1);
}

.imgEmail {
  object-fit: contain;
}

@media screen and (max-width: 768px) {
  .imgEmail {
    width: 90px;
    height: 55px;
    object-fit: contain;
  }
}
