.container {
  background-color: white;
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.testimonials {
  background-color: #06650b;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonialsTitle {
  color: white;
  font-size: 50px;
  font-weight: 100;
}

.testimonialsDescription {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150px;
  gap: 20px;
}

.testimonialsSubtitle {
  color: #231f20;
  font-size: 35px;
  font-weight: 100;
}

.testimonialsText {
  color: #231f20;
  font-size: 20px;
  font-weight: 100;
  text-align: center;
}

.testimonialsContent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  width: 100%;
  position: relative;
  padding: 20px;
}

.testimonial {
  border: 2px solid #06650b;
  border-radius: 10px;
  width: 320px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
  gap: 10px;
}

.testimonialText {
  color: #231f20;
  font-size: 25px;
  font-weight: 100;
}

.testimonialTextTwo {
  color: #231f20;
  font-size: 15px;
  font-weight: 100;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.testimonialAuthor {
  color: #231f20;
  font-size: 18px;
  font-weight: 100;
}

.videoContainer {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.youtubeButton {
  background-color: #06650b;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
}

.stars {
  font-size: 34px;
  display: flex;
  gap: 2px;
}

.star {
  color: #06650b;
}

.arrowButton {
  background: none;
  border: none;
  cursor: pointer;
}

.arrowWrapper {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrowWrapper.hidden {
  visibility: hidden;
}

.instagramContainer {
  position: relative;
  border-radius: 10px;
  width: 100%;
  height: 400px;
  overflow: hidden;
  background-color: #fff;
  cursor: pointer;
}

.instagramContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.instagramButton {
  width: 90%;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #06650b;
  color: white;
  padding: 10px 16px;
  border-radius: 6px;
  z-index: 2;
}

.googleButton {
  color: blue;
}

.arrowButton {
  background: none;
  border: none;
  cursor: pointer;
  transition:
    transform 0.2s ease,
    filter 0.2s ease;
  z-index: 5;
}

.arrowWrapper {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrowWrapper.hidden {
  visibility: hidden;
}

@media screen and (max-width: 768px) {
  .container {
    height: auto;
    padding-bottom: 50px;
  }

  .testimonials {
    height: auto;
    padding: 30px 10px;
    text-align: center;
  }

  .testimonialsTitle {
    font-size: 32px;
  }

  .testimonialsSubtitle {
    font-size: 24px;
    text-align: center;
  }

  .testimonialsText {
    font-size: 16px;
    padding: 0 20px;
  }

  .testimonialsContent {
    gap: 15px;
    padding: 10px;
  }

  .testimonial {
    width: 85%;
    max-width: 300px;
    height: 445px;
    padding: 16px;
  }

  .testimonialText {
    font-size: 22px;
  }

  .testimonialTextTwo {
    font-size: 14px;
  }

  .testimonialAuthor {
    font-size: 16px;
  }

  .videoContainer iframe {
    width: 100%;
    height: 200px;
  }

  .youtubeButton {
    font-size: 16px;
    padding: 8px 12px;
  }

  .stars {
    font-size: 28px;
  }

  .arrowButton {
    font-size: 32px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .arrowButton.left {
    left: 5px;
  }

  .arrowButton.right {
    right: 5px;
  }

  .instagramButton {
    font-size: 16px;
    padding: 8px 12px;
  }
}

@media screen and (max-width: 500px) {
  .testimonialsContent {
    position: relative;
    padding-bottom: 90px;
  }

  .arrowWrapper {
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .arrowLeft {
    left: 34%;
    transform: translateX(-50%);
  }

  .arrowRight {
    left: 66%;
    transform: translateX(-50%);
  }

  .arrowButton {
    position: static;
    background: none;
    border: none;
    cursor: pointer;
    transition:
      transform 0.2s ease,
      filter 0.2s ease;
  }

  .arrowButton:hover,
  .arrowButton:active {
    filter: brightness(1.2);
  }
}

@media (min-width: 769px) and (max-width: 995px) {
  .container {
    height: auto;
    padding-bottom: 50px;
  }
}

@media (min-width: 995px) and (max-width: 1252px) {
  .container {
    height: auto;
    padding-bottom: 50px;
  }

  .testimonialsContent {
    gap: 20px;
    min-height: 80vh;
    height: auto;
    padding: 10px;
  }

  .testimonialsDescription {
    padding-bottom: 30px;
  }
}
